* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (min-width:767px) {
.info-bg-container {
    display: flex;
  }
  .info1 {
    background-color: #fff;
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .info1-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    border-radius: 15px;
    padding: 30px;
    background-color: #e4f1e5;
    transition: 0.5s;
  }
  .info1-data:hover {
    box-shadow: 0 10px 15px rgba(42, 51, 37, 0.6);
  }
  .info1-data h1 {
    color: #040f00;
    font-weight: 1000;
  }
  
  .info2 {
    background-color: #040f00;
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icons-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: grey; */
    background-color: #e4f1e5;
    overflow: hidden;
    height: 40px;
    width: 300px;
    border-radius: 20px;
  }
  .icons-container a {
    text-decoration: none;
    margin-top: 5px;
  }
  .contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #040f00;
    border: 0px;
    width: 100px;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 15px;
    font-size: 15px;
  }
  .icons {
    color: black;
    font-size: 30px;
  }
}
@media (max-width:767px){

  .info-bg-container {
    display: flex;
    flex-direction: column;
  }
  .info1 {
    background-color: #fff;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .info1-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    border-radius: 15px;
    padding: 30px;
    background-color: #e4f1e5;
    transition: 0.5s;
  }
  .info1-data:hover {
    box-shadow: 0 10px 15px rgba(42, 51, 37, 0.6);
  }
  .info1-data h1 {
    color: #040f00;
    font-size: 18px;
  }
  .info1-data p{
    margin: 10px 0;
    font-size: 12px;
  }
  
  .info2 {
    background-color: #040f00;
    height: 50vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icons-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: grey; */
    background-color: #e4f1e5;
    overflow: hidden;
    height: 40px;
    width: 300px;
    border-radius: 20px;
  }
  .icons-container a {
    text-decoration: none;
    margin-top: 5px;
  }
  .contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #040f00;
    border: 0px;
    width: 70px;
    color: white;
    padding: 3px 10px;
    font-weight: 400;
    border-radius: 15px;
    font-size: 12px;
  }
  .icons {
    color: black;
    font-size: 30px;
  }
}